{% extends "layout.html" %}
{% block title %}Reviews{% endblock %}
{% block page_title %}{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
    <h4>Load Reviews from a Selected Timeline</h4>
    <!-- Insert Datepicker here -->
        
	<div class="button-wrapper">
		<div class="extra-buttons">
			<button type="button" id="load_reviews_button" class="btn btn-primary" onclick="loadReviews()">Load Data</button>
		</div>
        
	</div>
    <p id="numEntriesReturned"></p>
    <div class="reviews-table-container">
        <table class="table table-striped reviews-table" id="review-list-table">
            <thead id="reviews-table-header">
            </thead>
            <tbody id="reviews-table-body">
            </tbody>
        </table>
    </div>
    

	<!-- <div class="keyword-search-bar">
		<form action="javascript:getTopics(currentAppId, $('#search-bar').val())">
			<div class="search-bar-div">
				<input type="text" class="form-control" id="search-bar" placeholder="Search for a topic by keyword..." spellcheck="true" />
				<button type="submit">Search</button>
			</div>
		</form>
		<h4 id="search-bar-notification"></h4>
	</div> -->

    <!--Loading Modal-->
	<!-- <div class="modal fade" id="loading-modal" tabindex="-1" aria-labelledby="retire-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('loading-modal')">&times;</button>
				</div>
				<div class="modal-body">
					<h5>Loading <span id="topic-or-category-name-for-retirement"></span></h5>
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div> -->

{% endblock %}

{% block footer %}{{ super() }}{% endblock %}

<!--Render Javascript-->

{% block scripts %}
    <script src="../static/js/main.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        async function loadReviewsFromAWS() {
            let result;
            try {
                result = $.ajax({
                    type: "Post",
                    url: " {{ url_for('load_reviews') }}",
                    data: {"start_date" : "2022-06-00",
                            "end_date" : "2022-06-15"},              
                });
                return result;
            } catch (error) {
                console.error(error);
            }
        }

        function loadReviews() {
            loadReviewsFromAWS()
                .then((numReturned) => displayNumReturned(numReturned))
                .then(() => displayData())
                .catch((error) => conosole.log(error));
        }

    </script>
{% endblock %}
